# Ken French's Database

In [1]:
import numpy as np
import pandas as pd

import datetime as dt
from datetime import datetime
from datetime import datetime, timedelta 

date = dt.datetime.now()
modified_date = date - timedelta(days=1)
end = datetime.strftime(modified_date, "%Y/%m/%d")

import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['figure.figsize'] = (16.0, 8.0)

#French Database
import pandas_datareader.data as web  
from pandas_datareader.famafrench import get_available_datasets

In [2]:
datasets = get_available_datasets()
print('No. of datasets:{0}'.format(len(datasets)))

No. of datasets:297

## Industry Portfolios

## Fama and French 12 Industry Classification

Industry
1. NoDur = Consumer NonDurables -- Food, Tobacco, Textiles, Apparel, Leather, Toys
2. Durbl = Consumer Durables -- Cars, TV's, Furniture, Household Appliances
3. Manuf = Manufacturing -- Machinery, Trucks, Planes, Off Furn, Paper, Com Printing
4. Enrgy = Energy -- Oil, Gas, and Coal Extraction and Products
5. Chems = Chemicals -- Chemicals and Allied Products
6. BusEq = Business Equipment -- Computers, Software, and Electronic Equipment
7. Telcm = Telecommunication -- Telephone and Television Transmission
8. Utils = Utilities
9. Shops = Wholesale, Retail, Laundries and Repair Shops
10. Hlth = Health -- Healthcare, Medical Equipment, and Drugs
11. Money = Finance
12. Other = Mines, Constr, BldMt, Trans, Hotels, Bus Serv, Entertainment

In [3]:
df_12_industry = [dataset for dataset in datasets if '12' in dataset and 'Industry' in dataset]
print(df_12_industry)

['12_Industry_Portfolios', '12_Industry_Portfolios_Wout_Div', '12_Industry_Portfolios_daily']

In [4]:
ds_industry = web.DataReader(df_12_industry[0],'famafrench',start='1963-07-01',end=end)

In [5]:
ds_industry.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 'DESCR'])

In [6]:
print(ds_industry['DESCR'])

12 Industry Portfolios
----------------------

This file was created by CMPT_IND_RETS using the 202103 CRSP database. It contains value- and equal-weighted returns for 12 industry portfolios. The portfolios are constructed at the end of June. The annual returns are from January to December. Missing data are indicated by -99.99 or -999. Copyright 2021 Kenneth R. French

  0 : Average Value Weighted Returns -- Monthly (693 rows x 12 cols)
  1 : Average Equal Weighted Returns -- Monthly (693 rows x 12 cols)
  2 : Average Value Weighted Returns -- Annual (58 rows x 12 cols)
  3 : Average Equal Weighted Returns -- Annual (58 rows x 12 cols)
  4 : Number of Firms in Portfolios (693 rows x 12 cols)
  5 : Average Firm Size (693 rows x 12 cols)
  6 : Sum of BE / Sum of ME (58 rows x 12 cols)
  7 : Value-Weighted Average of BE/ME (58 rows x 12 cols)

# Risk factor dataset

We perform the same process above Fama-French risk factor portfolio dataset

In [7]:
df_5_factor = [dataset for dataset in datasets if '5' in dataset and 'Factor' in dataset]
print(df_5_factor)
ds_factors = web.DataReader(df_5_factor[0],'famafrench',start='1963-07-01',end=end) # Taking [0] as extracting 1F-F-Research_Data_Factors_2x3')
print('\nKEYS\n{0}'.format(ds_factors.keys()))
print('DATASET DESCRIPTION \n {0}'.format(ds_factors['DESCR']))
ds_factors[0].head()

['F-F_Research_Data_5_Factors_2x3', 'F-F_Research_Data_5_Factors_2x3_daily', 'Developed_5_Factors', 'Developed_5_Factors_Daily', 'Developed_ex_US_5_Factors', 'Developed_ex_US_5_Factors_Daily', 'Europe_5_Factors', 'Europe_5_Factors_Daily', 'Japan_5_Factors', 'Japan_5_Factors_Daily', 'Asia_Pacific_ex_Japan_5_Factors', 'Asia_Pacific_ex_Japan_5_Factors_Daily', 'North_America_5_Factors', 'North_America_5_Factors_Daily', 'Emerging_5_Factors']

KEYS
dict_keys([0, 1, 'DESCR'])
DATASET DESCRIPTION
 F-F Research Data 5 Factors 2x3
-------------------------------

This file was created by CMPT_ME_BEME_OP_INV_RETS using the 202103 CRSP database. The 1-month TBill return is from Ibbotson and Associates Inc.

  0 : (693 rows x 6 cols)
  1 : Annual Factors: January-December (57 rows x 6 cols)

         Mkt-RF   SMB   HML   RMW   CMA    RF
Date
1963-07   -0.39 -0.45 -0.94  0.66 -1.15  0.27
1963-08    5.07 -0.82  1.82  0.40 -0.40  0.25
1963-09   -1.57 -0.48  0.17 -0.76  0.24  0.27
1963-10    2.53 -1.30 -0.04  2.75 -2.24  0.29
1963-11   -0.85 -0.85  1.70 -0.45  2.22  0.27

## Saving the Research Data

In [8]:
dfAsset = ds_industry[0].copy()/100
dfFactor = ds_factors[0].copy()/100

In [9]:
dfAsset

,NoDur,Durbl,Manuf,Enrgy,Chems,BusEq,Telcm,Utils,Shops,Hlth,Money,Other
Date,,,,,,,,,,,,
1963-07,-0.0049,-0.0022,-0.0153,0.0229,-0.0114,-0.0067,-0.0023,0.0080,-0.0103,0.0056,-0.0061,-0.0234
1963-08,0.0489,0.0655,0.0679,0.0393,0.0498,0.0512,0.0429,0.0420,0.0643,0.0956,0.0428,0.0639
1963-09,-0.0169,-0.0024,-0.0080,-0.0364,-0.0084,0.0036,0.0236,-0.0250,0.0097,-0.0406,-0.0325,-0.0309
1963-10,0.0265,0.0972,0.0251,-0.0032,0.0278,0.0835,0.0340,-0.0067,0.0052,0.0338,0.0068,0.0188
1963-11,-0.0113,-0.0484,-0.0041,-0.0115,0.0182,-0.0031,0.0416,-0.0102,-0.0123,-0.0165,-0.0229,0.0203
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11,0.1002,0.3399,0.1684,0.2860,0.0835,0.1104,0.1444,0.0263,0.0839,0.0963,0.1626,0.1472
2020-12,0.0490,0.1543,0.0292,0.0620,0.0175,0.0499,0.0529,0.0063,0.0149,0.0470,0.0685,0.0304
2021-01,-0.0412,0.1175,-0.0152,0.0473,-0.0413,0.0049,-0.0337,-0.0040,0.0007,0.0285,-0.0304,-0.0242
2021-02,0.0143,-0.0807,0.0775,0.2329,0.0058,0.0174,0.0445,-0.0460,-0.0154,-0.0110,0.1079,0.0776
2021-03,0.0726,0.0061,0.0765,0.0226,0.0746,0.0075,0.0163,0.1035,0.0556,0.0022,0.0572,0.0525

In [10]:
dfFactor

         Mkt-RF     SMB     HML     RMW     CMA      RF
Date
1963-07 -0.0039 -0.0045 -0.0094  0.0066 -0.0115  0.0027
1963-08  0.0507 -0.0082  0.0182  0.0040 -0.0040  0.0025
1963-09 -0.0157 -0.0048  0.0017 -0.0076  0.0024  0.0027
1963-10  0.0253 -0.0130 -0.0004  0.0275 -0.0224  0.0029
1963-11 -0.0085 -0.0085  0.0170 -0.0045  0.0222  0.0027
...         ...     ...     ...     ...     ...     ...
2020-11  0.1247  0.0675  0.0211 -0.0278  0.0105  0.0001
2020-12  0.0463  0.0467 -0.0136 -0.0215  0.0000  0.0001
2021-01 -0.0003  0.0688  0.0285 -0.0333  0.0468  0.0000
2021-02  0.0278  0.0451  0.0708  0.0009 -0.0197  0.0000
2021-03  0.0309 -0.0098  0.0740  0.0643  0.0344  0.0000

[693 rows x 6 columns]

#### We create excess returns by subtracting the risk-free rate from the asset returns

In [11]:
dfXsAsset = dfAsset.sub(dfFactor['RF'],axis=0)
dfXsAsset.head()

,NoDur,Durbl,Manuf,Enrgy,Chems,BusEq,Telcm,Utils,Shops,Hlth,Money,Other
Date,,,,,,,,,,,,
1963-07,-0.0076,-0.0049,-0.0180,0.0202,-0.0141,-0.0094,-0.0050,0.0053,-0.0130,0.0029,-0.0088,-0.0261
1963-08,0.0464,0.0630,0.0654,0.0368,0.0473,0.0487,0.0404,0.0395,0.0618,0.0931,0.0403,0.0614
1963-09,-0.0196,-0.0051,-0.0107,-0.0391,-0.0111,0.0009,0.0209,-0.0277,0.0070,-0.0433,-0.0352,-0.0336
1963-10,0.0236,0.0943,0.0222,-0.0061,0.0249,0.0806,0.0311,-0.0096,0.0023,0.0309,0.0039,0.0159
1963-11,-0.0140,-0.0511,-0.0068,-0.0142,0.0155,-0.0058,0.0389,-0.0129,-0.0150,-0.0192,-0.0256,0.0176